html {
    font-family: 'Baloo Bhaina 2', cursive;
    --backgrounBlue: #6498be;
}

body {
    position: relative;
}

.titlesContainer {
    background-color: var(--backgrounBlue);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25);
    min-height: 85px;
    text-align: center;
}

h1 {
    font-size: 60px;
    font-weight: lighter;
    letter-spacing: 2px;
    background-color: rgba(45, 46, 48, 0.5);
    color: transparent;
    position: relative;
    object-position: top;
    top: 10px;
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 1);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    text-align: center;
}

h2 {
    object-position: center;
    font-weight: 400;
    font-size: 18px;
    letter-spacing: 5px;
    vertical-align: 20%;
    text-align: center;
    color: white;
}

.mainContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 30px;
}

.inputsDiv {
    position: relative;
    display: flex;
    justify-content: center;
    margin: auto;

    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    height: 45px;
    width: 80%;
    min-width: 280px;
    max-width: 405px;
    background-color: var(--backgrounBlue);
}

#product {
    justify-content: center;
    box-sizing: border-box;
    position: absolute;
    top: -13px;
    left: 5px;
    padding: 0px;
    margin: auto;
    width: 80%;
    min-width: 215px;
    max-width: 300px;
    height: 45px;
}

#quantity {
    box-sizing: border-box;
    position: absolute;
    top: -13px;
    right: 15px;
    padding: 0px;
    margin: auto;
    width: 20%;
    min-width: 45px;
    max-width: 80px;
    height: 45px;
    margin-bottom: 10px;
}

.buttonDiv {
    display: flex;
    object-position: top;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    margin: auto;
    margin-top: 5px;
    padding: 5px;
    position: relative;
    display: block;
    height: 40px;
    width: 80%;
    min-width: 277px;
    max-width: 405px;
    background-color: var(--backgrounBlue);
}

.listObject {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}

.listLabel {
    margin: auto;
    width: 60%;
    min-width: 277px;
    max-width: 360px;
}

#listContainer {
    display: block;
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 1px;
    width: 60%;
    min-width: 277px;
    max-width: 360px;
    height: 300px;
    background-color: #7aabca;
    border: none;
    overflow: auto;
}

.lines {
    display: flex;
    width: 100%;
}

.shadow {
    background-color: black;
}

@media (min-width: 450px) {

    .mainContainer {
        flex-direction: row;
        max-width: 500px;
        position: center;
        justify-content: center;
        margin: auto;
    }

    .inputsDiv {
        display: inline-flex;
        min-width: 340px;
        border-top-left-radius: 8px;
        border-top-right-radius: 0px;

    }

    .buttonDiv {
        display: inline-flex;

        padding: 7px;
        margin: auto;
        min-width: 0px;
        width: 100px;
        height: 45px;
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
        border-top-right-radius: 8px;
    }

    #addButton {
        width: 100%;
    }

    #quantity {
        border-top-right-radius: 0px;

    }
  }
